{% extends 'navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container border-bottom border-primary pt-3 pb-3">
    <h2>Your Account</h2>
    <br>
    <h5>Current Username: <b id = "username"></b></h5>
    <p id = "username_errors" class = "text-danger"></p>
	<form id="username_form" method = "POST">
		{% csrf_token %}
		{{ username_form|crispy }}
        <input type="submit" class="btn btn-primary" value="Change Username"></input>
	</form>
</div>
<div class="container border-bottom border-primary pt-2 pb-3">
    <h5>Current Email: <b id = "email"></b></h5>
    <p id = "email_errors" class = "text-danger"></p>
	<form id="email_form" method = "POST">
		{% csrf_token %}
		{{ email_form|crispy }}
        <input type="submit" class="btn btn-primary" value="Change Email"></input>
	</form>
</div>
<div class="container border-bottom border-primary pt-3 pb-3">
    <p id = "password_errors" class = "text-danger"></p>
	<form id="password_form" method = "POST">
		{% csrf_token %}
		{{ password_form|crispy }}
		<input type="submit" class="btn btn-primary" value="Change Password"></input>
	</form>
</div>
<br>
<div id = "admin" class = "container">
    <h2 id = "admin">Manager Panel</h2>
    <br>
    <div class = "row container">
        <a  id = "admin" class = "btn btn-info col-3" href = "http://127.0.0.1:8000/manager/user-list/">List of Users</a>
        <div class = "col-1"></div>
        <a  id = "admin" class = "btn btn-info col-3" href = "http://127.0.0.1:8000/manager/shipments">List of Orders</a>
        <div class = "col-1"></div>
        <a  id = "admin" class = "btn btn-info col-3" href = "http://127.0.0.1:8000/manager/article-list/">Article Editor</a>
    </div>
</div>

<script>
// nascondi manager panel
$("#admin").hide();

// mostra nome utente e password, mostra il manager panel ai manager
var user = get_logged_user(function(result){
    $("#username").html(`  ${result['user']}`);
    $("#email").html(`  ${result['email']}`);
    if(result['admin']){
        $("#admin").show();
    }
    else{
        console.log(result['admin']);
    }
    return result;
});

// form cambio username
$("#username_form").on('submit', (e) =>{
    var xhr = new XMLHttpRequest();
    e.preventDefault();
    xhr.open("POST", "http://127.0.0.1:8000/api/change-credentials/");
    xhr.setRequestHeader("content-type","application/json")
    xhr.setRequestHeader("Authorization","Token "+get_cookie("token"))
    console.log(document.getElementById("id_username").value);
    xhr.send(JSON.stringify(
        {
            "username": document.getElementById("id_username").value,
        }
    ));
    xhr.onreadystatechange = function(){
        if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200){
            response = JSON.parse(xhr.responseText)
            if(response['username_errors'] !== undefined ){
                $("#username_errors").html(response['username_errors'])
            }else{
                window.location.href = "http://127.0.0.1:8000/account/";
            }
        }
    }
});

// form cambio email
$("#email_form").on('submit', (e) =>{
    e.preventDefault();
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "http://127.0.0.1:8000/api/change-credentials/");
    xhr.setRequestHeader("content-type","application/json")
    xhr.setRequestHeader("Authorization","Token "+get_cookie("token"))
    xhr.send(JSON.stringify(
        {
            "email": document.getElementById("id_email").value,
        }
    ));
    xhr.onreadystatechange = function(){
        if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200){
            response = JSON.parse(xhr.responseText)
            if(response['email_errors'] !== undefined ){
                $("#email_errors").html(response['email_errors'])
            }else{
                window.location.href = "http://127.0.0.1:8000/account/";
            }
        }
    }
});

// form cambio password
$("#password_form").on('submit', (e) =>{
    e.preventDefault();
    var xhr = new XMLHttpRequest();
    var pw_current = document.getElementById("id_current_password").value;
    var pw_new = document.getElementById("id_new_password").value;
    var pw_confirm = document.getElementById("id_confirm_password").value;

    //controlla che nuova password e password di conferma combacino
    if(pw_new === pw_confirm){
        xhr.open("POST", "http://127.0.0.1:8000/api/change-credentials/");
        xhr.setRequestHeader("content-type","application/json")
        xhr.setRequestHeader("Authorization","Token "+get_cookie("token"))
        xhr.send(JSON.stringify(
            {
                "password_current": pw_current,
                "password_new": pw_new
            }
        ));
        xhr.onreadystatechange = function(){
            if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200){
                response = JSON.parse(xhr.responseText)
                if(response['password_errors'] !== undefined ){
                    $("#password_errors").html(response['password_errors'])
                }else{
                    window.location.href = "http://127.0.0.1:8000/account/";
                }
            }
        }
    }else{
        $("#password_errors").html("the two new passwords don't match")
    }
});
</script>

{% endblock content %}
