<!-- HOMEPAGE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Poggers </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {% block navbar %}

    {% endblock %}
    <h1 id = "titolo"> Vue JS</h1>
    <div id = "app">app</div>
    <button id = "data_button"> Get data </button>

    <p>data here</p>

    <script>
        $(document).ready(function(){
            $("#data_button").click(function(){
                $.getJSON("http://127.0.0.1:8000/api/articles/", function(data){
                    console.log(data);
                    $.each(data, function(i, field){
                        $("div").append("<p>"+ i + ")"+ field["price"] + "</p>");
                    });
                });
            });
        });
    </script>
</body>
</html>