<!-- HOMEPAGE -->
{% extends 'navbar.html' %}
{% load static %}


{% block content %}
	<style media="screen">
	  .card-size{
	    width: 18rem;
	    float: left;
	  }

	  .container-border{
	    /*border: solid #f7f7f9;*/
	  }
	</style>
		<form action="http://127.0.0.1:8000/" method = "get">
			<input type="hidden" name="category" value = "protections">
			<input type="hidden" name="sub_category" value = "head">
			<input type="submit" value="reload">
		</form>
  <!-- cards articoli -->
    <div  class=" container
                  container-border"> 
      <!-- DECK CARTE -->
      <div class="row 
                  mt-5
                  justify-content-center"
            id="container-carte">
          <!-- CARTE SINGOLE -->
          
	  </div>
  	</div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<script>
		articles_url = "http://127.0.0.1:8000/api/articles/"

		//ottieni i parametri per le categorie dall'url della pagina
		var query_string = window.location.search;
		const  url_params = new URLSearchParams(query_string);
		var category =  url_params.get("category");
		var sub_category = url_params.get("sub_category");

		//se i parametri sono stati inseriti, aggiungili al percorso per ottenere gli articoli
		if(category){
			articles_url += category;
		}
		if(sub_category){
			articles_url = articles_url + "/" + sub_category
		}

		getArticles(articles_url);

		function AddToCart(key){
			token = get_cookie("token");
			if(token != ''){
				get_article_detail(key, function(result){
					//richiesta di aggiunta al carrello
					result["token"] = token;

					var xhr = new XMLHttpRequest();
					xhr.open("POST", "http://127.0.0.1:8000/api/add-to-cart/");
					xhr.setRequestHeader('Content-Type', 'application/json');
					xhr.send(JSON.stringify(result));

					//se la richiesta ha successo, notifica l'utente
					xhr.onreadystatechange = function(){
						if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200){
							response = JSON.parse(xhr.responseText);
							console.log(response['message']);
							console.log(response['error']);
						}
					}
				});
			}
		}


		function user_test(){
			token = get_cookie("token");
			if(token != ''){
				xhr = new XMLHttpRequest();
				xhr.open("POST", 'http://127.0.0.1:8000/api/user-test/');
				xhr.setRequestHeader('Content-Type', 'application/json');
				data = { "token": token }
				console.log(data);
    			xhr.send(JSON.stringify(data));
			}
			else{
				console.log("utente non loggato, redirigi a login ...")
			}
			// utente non loggato
		}

	</script>
{% endblock %}
