{% extends 'auth_layout.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load crispy_forms_tags %}
</head>
<body>
    {% block content %}
    <div class = "container">
        <h1>Login</h1>
        <form id = "log_form" action="http://127.0.0.1:8000/api/rest-auth/login/" method = "post">
            {% csrf_token %}    
            {{ form|crispy }}
            <input type="submit" class = "btn btn-primary" value="Login">
        </form>
        <br>
        <div class = "mt-2">
            <a href="http://127.0.0.1:8000/registration/">Create a new Account</a>
        </div>
        <br>
        <p id = "errors" class = "text-danger"></p>
    </div>
    {% endblock content %}
</body>

<script>
    var messages = []

    document.getElementById("log_form").on('submit', (e) =>{ 
        console.log("ciao");
        e.preventDefault();
        var username = document.getElementById("id_username").value;
        var password = document.getElementById("id_password").value;

        console.log(username)
        console.log(password)

        // var tokenRequest = new XMLHttpRequest();
        // tokenRequest.open("POST", "http://127.0.0.1:8000/api/rest-auth/login/")
        // tokenRequest.setRequestHeader('Content-Type', 'application/json');


        tokenRequest.onreadystatechange = function(){
            if(tokenRequest.readyState == XMLHttpRequest.DONE && tokenRequest.status == 200){
                // tokenRequest.send(JSON.stringify({
                //     "username": username,
                //     "password": password,
                // }));
            }
            else{
                document.getElementById("errors").innerHTML = "Incorrect username or password";
                document.getElementById("id_password").value = "";  //svuota password
            }
        }



    });
    
                    //redirige alla pagina iniziale
    //window.location.replace("http://127.0.0.1:8000/");

</script>

</html>