{% load static %}

<!DOCTYPE html>
<html lang="it">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- funzioni importate  {% static 'js/functions.js' %}" -->
    <script src="http://127.0.0.1:8000/static/js/functions.js"></script>

    <!-- script eseguida prima di importare i template -->
    <script>

    </script>

    <style media="screen">
      #logo{
            height: 40px;
            width: 20%;
      }
      .small-text{
        font-size: 10px;
        font-weight: bold;
      }
    </style>

    <title>Poggers Armoury</title>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div style="padding: 3px;">
      <a class="navbar-brand" href="http://127.0.0.1:8000/">
		  <!--img src="https://lh3.googleusercontent.com/proxy/QVvhsNHMx-y_GqwSKhtlEGr0VlW205AkI424eybuALWMzgbIvKgtYmPCjsm169VwvlT5y3qvYdlwc5Vy7XbHkXpTa4OHGP1h_UXSga57BinJNLolzjEm3-SDTjoFaVAnXEEk1GPqpuJjoFNNFFBMgiH_" href="" width="30" height="30" alt=""-->
          Poggers Armoury
      </a>
    </div>
        <div class = "user-tab" style = "float: right;"> 
            <div id = "logged_user"></div>
            <button id = "login-button" class="btn btn-primary" onclick="location.href='http://127.0.0.1:8000/login/' " hidden> Login</a>
            <button id = "logout-button" class="btn btn-danger" onclick='logout("http://127.0.0.1:8000/")' hidden>Logout</button>
            <button id = "cart-button" class="btn btn-success" onclick="location.href='http://127.0.0.1:8000/shopping-cart/' " hidden>Shopping Cart</button>
        </div>
    </nav>

    {% block content %}

    {% endblock %}
    <p>{{ registration }}</p>
    <ul id = "item-list">

    </ul>

  </body>
  <script>
		var current_user = '';
		var login_btn = document.getElementById("login-button");
    var logout_btn = document.getElementById("logout-button");
		var cart_btn = document.getElementById("cart-button");

		//nascondi pulsanti
		login_btn.hidden = true;
		logout_btn.hidden = true;
		cart_btn.hidden = true;

    //ottiene l'utente loggato per decidere quali elementi mostrare
    get_logged_user(function(result){
        //codice che richiede il nome utente
        current_user = result['user'];
        token = get_cookie("token")

        if(current_user !== ''){
          if(token !== ''){
            //utente loggato: carica pulsanti logout e carrello
            $user = current_user;
            logout_btn.hidden = false;
            cart_btn.hidden = false;
            $(".user-tab").append(
                "<div class=\"navbar-brand\">Logged as : "+ "<button type=\"button\" class=\"btn btn-info  small-text\" onclick=\"location.href=\'http://127.0.0.1:8000/account/\' \"> Hello, " + $user + " <br>Account Info</button></div>",
            );
          }
          else{
            //utente loggato ma token scaduto: esegui logout e reindirizza a login
            logout("http://127.0.0.1:8000/login");
          }
        }
        else{
          //utente non loggato: carica pulsante di login
          login_btn.hidden = false;
          //se c'è ancora un token residuo, lo elimina
          if(token !== ''){
            set_cookie("token", '', 0); 
          }
        }
    });

		//pulsante di logout
		function logout(redirect_url){
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "http://127.0.0.1:8000/api/rest-auth/logout/");
			xhr.onreadystatechange = function(){
				if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200){
          //rimuovi token dai cookie(settandolo a vuoto, con durata 0 minuti)
          if(get_cookie("token") !== ''){
            set_cookie("token", '', 0); 
          }

          //redirigi utente alla pagina di input
					window.location.href = redirect_url;
				}
			}
			xhr.send();
		}

		//pulsante di login
		function open_cart(){
			var xhr = new XMLHttpRequest();
			xhr.open("GET", "http://127.0.0.1:8000/");
			xhr.onreadystatechange = function(){
			if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200){
					//window.location.replace("http://127.0.0.1:8000/shopping-cart/");
				}
			}
			xhr.send();
        }
        
  </script>
</html>
