{% load static %}

<!DOCTYPE html>
<html lang="it">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- funzioni importate -->
    <script src="{% static 'js/functions.js' %}"></script>

    <!-- script eseguida prima di importare i template -->
    <script>

    </script>

    <style media="screen">
      #logo{
            height: 40px;
            width: 20%;
      }
    </style>

    <title>shittass negozio</title>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div style="padding: 3px;">
      <a class="navbar-brand" href="http://127.0.0.1:8000/">
		  <!--img src="https://lh3.googleusercontent.com/proxy/QVvhsNHMx-y_GqwSKhtlEGr0VlW205AkI424eybuALWMzgbIvKgtYmPCjsm169VwvlT5y3qvYdlwc5Vy7XbHkXpTa4OHGP1h_UXSga57BinJNLolzjEm3-SDTjoFaVAnXEEk1GPqpuJjoFNNFFBMgiH_" href="" width="30" height="30" alt=""-->
          Shitass
      </a>
    </div>

      <form class="form" action="#" style=" padding-right: 28%;padding-left: 28%;">
        <div class="input-group" style="width: 200%;">
          <input type="text" class="form-control" placeholder="Cerca prodotto..." aria-label="Username" aria-describedby="basic-addon1">
          <div class="input-group-append">
            <button type="submit" class="btn btn-light"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
        <div class = "user-tab" style = "float: right;"> 
            <div id = "logged_user"></div>
            <button id = "login-button" class="btn btn-primary" onclick="location.href='http://127.0.0.1:8000/login/' " hidden> Login</a>
            <button id = "logout-button" class="btn btn-danger" onclick="logout()" hidden>Logout</button>
            <button id = "cart-button" class="btn btn-success" onclick="location.href='http://127.0.0.1:8000/shopping-cart/' " hidden>Shopping Cart</button>
        </div>
    </nav>

    <!-- dropdown categorie -->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#434952; padding-top: 0px; padding-bottom: 0px;">
      <div class="navbar-brand">Categorie:</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Swords
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Spadino</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Spaghetto</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Spadone</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Armature
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Leggera</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Media</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Pesante</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">per favore luca non fare lo sperg non ho idea di che cazzo vendono questi e come le chiamano sto mettendo robe a caso</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Griongei
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">C</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">R</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">I</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">N</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">G</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">E</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    {% block content %}

    {% endblock %}
    <button class = "btn btn-primary" onclick="get_articles('?category=simulator&sub_category=sword1h', document.getElementById('item-list'))"> get articles </button>
    <ul id = "item-list">

    </ul>

  </body>
  <script>
		var current_user = '';
		var login_btn = document.getElementById("login-button");
      	var logout_btn = document.getElementById("logout-button");
		var cart_btn = document.getElementById("cart-button");

		//nascondi pulsanti
		login_btn.hidden = true;
		logout_btn.hidden = true;
		cart_btn.hidden = true;

	  	get_logged_username('http://127.0.0.1:8000/api/get-logged-user/', function(result){
			//codice che richiede il nome utente
			current_user = result;

			//se c'è un utente loggato mostra pulsanti logout e carrello, altrimenti pulsante di login
			if(current_user !== ''){
				$user = current_user;
				logout_btn.hidden = false;
				cart_btn.hidden = false;
				$(".user-tab").append(
					"<div class=\"navbar-brand\">Logged as : "+ $user + "</div>",
				);
			}
			else{
				login_btn.hidden = false;
			}
	  	});

		//pulsante di logout
		function logout(){
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "http://127.0.0.1:8000/api/rest-auth/logout/");
			xhr.onreadystatechange = function(){
				if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200){
					window.location.replace("http://127.0.0.1:8000/");
				}
			}
			xhr.send();
		}

		//pulsante di login
		function open_cart(){
			var xhr = new XMLHttpRequest();
			xhr.open("GET", "http://127.0.0.1:8000/");
			xhr.onreadystatechange = function(){
			if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200){
					//window.location.replace("http://127.0.0.1:8000/shopping-cart/");
				}
			}
			xhr.send();
		}

  </script>
</html>
