<!DOCTYPE html>
{% extends 'auth_layout.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load crispy_forms_tags %}

</head>
<body>
    {% block content %}

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div class = "container">
        <h1>Registration</h1>
        <p id = "errors" class = "text-danger"></p>
        <form id = "reg_form" method = "post">
            {% csrf_token %}    
            {{ form|crispy }}
            <input type="submit" class = "btn btn-primary" value="Register">
        </form>
        <div class = "mt-2">Already have an account?
            <a href="http://127.0.0.1:8000/login/">Login</a>
            <p><a href="http://127.0.0.1:8000/">Return to the homepage</a></p>
        </div>
        <br>
    </div>
</body>
<script>
    var messages = []

    $("#reg_form").on('submit', (e) =>{
        e.preventDefault()   //impedisce l'invio del form

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://127.0.0.1:8000/api/register-user/", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        var username = document.getElementById("id_username").value;
        var email = document.getElementById("id_email").value;
        var password = document.getElementById("id_password1").value;
        var password2 = document.getElementById("id_password2").value;

        // username and email are automatically evaluated by the browser
        // validate password
        if(password !== password2){
            $("#errors").html("passwords do not match.");
            return;
        }

        //risposta dal server
        xhr.onreadystatechange = function(){
            if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200){
                response = xhr.responseText;
                response = JSON.parse(response);
                console.log(response);

                if(response['registration'] !== undefined){
                    //la registrazione ha avuto successo, torna alla homepage
                    window.location.href = "http://127.0.0.1:8000/";
                }
                else{
                    //errore sull'username
                    if(response['username'] !== undefined){
                        $("#errors").html(response['username'])
                    }
                    //errore sulla email
                    if(response['email'] !== undefined){
                        $("#errors").html(response['email'])
                    }
                    //errore sulla password
                    if(response['password'] !== undefined){
                        $("#errors").html(response['password'])
                    }    
                }
            }
            //errore sull'email
            if(xhr.status == 400){
                response = xhr.responseText;
                response = JSON.parse(response);
                if(response['email'] !== undefined){
                    $("#errors").html(response['email'])
                }
            }
        }

        data = JSON.stringify({
            "username": username,
            "email": email,
            "password": password,
            "password2": password2
        });

        console.log(data);
        xhr.send(data);
    });

    // aggiungi un errore alla lista, il prossimo sarà scritto a capo
    function append_message(msg){
        messages.push(msg)
        messages.join('\n');
    }

    //stampa messaggi di errore e svuota l'array degli errori
    function print_messages(){
        document.getElementById("errors").innerHTML = messages[0];
        console.log(messages)
        messages = [];
    }
    
</script>

    {% endblock content %}

</html>