{% extends 'navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container border-bottom border-secondary h1 p-1" style="width:60%">
  Elenco Shipments
</div>
<div class="container" style="width:60%">
  <div class="row border-bottom border-secondary">
    <div class = "col h3" >Indirizzo</div>
    <div class = "col h3">Data Ordine</div>
    <div class = "col h3">Id Ordine</div>
  </div>
  <div id="div-shipments">
  </div>
</div>
</div>

<script type="text/javascript">
  var xhr = new XMLHttpRequest();
  var xhrOrder = new XMLHttpRequest();
  xhr.open("GET", "http://127.0.0.1:8000/api/shipment-list");
  xhr.setRequestHeader('Authorization', 'Token '+ String(get_cookie('token')));
  xhr.send();
  xhr.onreadystatechange = function(){
    if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200){
      var response =  JSON.parse(xhr.responseText);
      $.each(response, function(i){
        console.log(response[i]);
        printShipments(response[i]);
      })
    }
  }

  function printShipments(item){
      var textShipping_address = item["shipping_address"];
      var textDate = item["date"];
      var textOrder = item["order"];


      var myShipment = $(`
      <div class = "row p-2 border-bottom border-secondary">
          <div class = "col align-middle">${textShipping_address}</div>
          <div class = "col align-middle">[${textDate}]</div>
          <div class = "col align-middle">${textOrder}</div>
      </div>`);
      myShipment.appendTo('#div-shipments');
  }

</script>

{% endblock content %}
