{% extends 'auth_layout.html' %}
<!-- tag cripsy forms, definiti dal template in settings.py-->
{% load crispy_forms_tags %}

{% block content %}

    <h1>Create Account</h1>
    <div class = "registration-form-container">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type = "submit" class = "btn btn-sm btn-outline-primary"> Register </button>
        </form>
        <div class = "mt-2">
                Already have an Account? 
                <a href="{% url 'login' %}">Login</a>
            </div>
    </div>

{% endblock %}